*~
*.sw[o-p]
.DS_Store
xcuserdata
*.gem
Gemfile.lock
fishhook/
OCHamcrest.framework
Tests/UnitTests/ocmock/
Tests/UnitTests/UnitTests.xcodeproj/project.xcworkspace/
Tests/FunctionalTests/FunctionalTests.xcodeproj/project.xcworkspace/
