[submodule "eDistantObject"]
	path = eDistantObject
	url = https://github.com/google/eDistantObject.git
[submodule "fishhook"]
	path = fishhook
	url = https://github.com/facebook/fishhook.git
[submodule "Submodules/eDistantObject"]
	path = Submodules/eDistantObject
	url = https://github.com/google/eDistantObject.git
[submodule "Submodules/fishhook"]
	path = Submodules/fishhook
	url = https://github.com/facebook/fishhook.git
